.dashboardtitle{
	display: none;
}
.disabled .fc-day-content {
    background-color: #123959;
    color: #FFFFFF;
    cursor: default;
  }
.project_team img {
	width:40px;
	border: 2px solid #FFF;
	border-radius: 20%;
}
.project_progress .progress{
	margin-bottom: 5px;
    height: 8px;
    }
.project_details .bold{
	font-weight: bold;

}
.project strong{
margin-top: 5px;
margin-left: 15px;
}
.panel .panel-heading{
border-bottom: 1px solid lightgray;
}

.project_name {
	font-size: 9pt;
}

.onoffswitch {
	position: relative;
	width: 90px;
	margin-bottom: 5px;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
}

.onoffswitch-checkbox {
	display: none;
}

.onoffswitch-label {
	display: block;
	overflow: hidden;
	cursor: pointer;
	border: 2px solid #999999;
	border-radius: 20px;
}

.onoffswitch-inner {
	display: block;
	width: 200%;
	margin-left: -100%;
	transition: margin 0.3s ease-in 0s;
}

.onoffswitch-inner:before,.onoffswitch-inner:after {
	display: block;
	float: left;
	width: 50%;
	height: 30px;
	padding: 0;
	line-height: 30px;
	font-size: 14px;
	color: white;
	font-family: Trebuchet, Arial, sans-serif;
	font-weight: bold;
	box-sizing: border-box;
}

.onoffswitch-inner:before {
	content: "ON";
	padding-left: 10px;
	background-color: #34A7C1;
	color: #FFFFFF;
}

.onoffswitch-inner:after {
	content: "OFF";
	padding-right: 10px;
	background-color: #EEEEEE;
	color: #999999;
	text-align: right;
}

.onoffswitch-switch {
	display: block;
	width: 21px;
	margin: 4.5px;
	background: #FFFFFF;
	position: absolute;
	top: 0;
	bottom: 0;
	right: 56px;
	border: 2px solid #999999;
	border-radius: 20px;
	transition: all 0.3s ease-in 0s;
}

.onoffswitch-checkbox:checked+.onoffswitch-label .onoffswitch-inner {
	margin-left: 0;
}

.onoffswitch-checkbox:checked+.onoffswitch-label .onoffswitch-switch {
	right: 0px;
}

.alert-minimalist {
	background-color: lightblue;
	border-color: rgba(149, 149, 149, 0.3);
	border-radius: 3px;
	color: rgb(149, 149, 149);
	padding: 10px;
	width:25%;
	line-height: 15px;
}
.alert-minimalist-title {
	color: rgb(51, 51, 51);
	display: block;
	font-weight: bold;
	font-size: 13px;
}
.alert-minimalist-message {
	font-size: 11px;
}

.autocomplete-suggestions { border: 1px solid #999; background: #FFF; overflow: auto; }
.autocomplete-suggestion {
	padding: 5px 5px 5px 10px;
    white-space: nowrap;
    font-size: 13px;
    line-height: 20px;
    border-top: 1px solid #ccc;
    font-weight: 600;
}
.autocomplete-selected { background: #428bca; color:#fff }
.autocomplete-suggestions strong { font-weight: 600; color: #13d42d; font-size: 13px; }
.autocomplete-group { padding: 2px 5px; }
.autocomplete-group strong { display: block; border-bottom: 1px solid #000;font-size: 13px; }

.divisionGroup .btn-default:hover, .divisionGroup .btn-default:focus, .divisionGroup .btn-default:active, .divisionGroup .btn-default.active{
    background-color: #d2d1d1;
}
button.multiselect-option.dropdown-item, button.dropdown-item.multiselect-all {
border: none;
    background-color: #fff;
        display: block;
}

.multiselect-container.dropdown-menu{
	min-width:275px
}

.multiselect-option.dropdown-item input.form-check-input{
	margin-right:5px;
}