.dashboardtitle{
    font-size: 10pt;
    color: white;
    margin-top: 10px !important;
    font-weight: bold;
	
}

.page-container  .page-content{
    background-color: white;
    background-image: none;
}
.dashboard .dbwidget {
    min-height: 1px;
  padding-left: 5px; 
  padding-right: 5px;
}
.dashboard .panel{
margin-bottom: 5px;
}
.dashboard .panel .panel-default{
	text-align: center !important;
}
.dashboard .panel .paneltitlebox{
	font-size: 10pt;
    font-weight: 600;
    padding: 5px 0 0 5px;
    color: darkgray;
}

.dashboard .panel .panel-heading .panel-title-box span{
font-size: 12px;
}

.dashboard .panel .panel-heading{
	background-color: white;
	padding: 3px !important;
}

.dashboard .panel .panel-heading .panel-title-box h3{
	font-size:1.5em !important;
	color:#686868;
	font-weight: 700;	
}
.dashboard .panel .panel-heading .bandwidthtitle{
    line-height: 18px;
    margin: 0px;
    font-size: 10pt;
    font-weight: 600;
    padding: 5px 0 0 5px;
    color: #fff;
 }
 
.dashboard .dbwidget .dbcontentbox{
	 box-shadow: 0px 0px 0px #888888;
}
.accountUtilizationPieChart .legend {
	display:none;
}
.flotTip 
    {
      padding: 3px 5px;
      z-index: 100;
      #opacity: .7;
}
.pietooltip{
	color: red;
}

.dashboard .utilization.border{
	border-right: 2px solid lightgray;height: 56px;
}

.dashboard .utilization .utilizationtext{
	display: block;
    text-align: center;
    margin-top: 3px;
    font-size: 1.2em;
    color: #b8b4b4;
    font-weight: 600;
}
.dashboard .utilization .utilizationhrs{
    font-size: 2em;
    font-weight: 600;
    display: block;
    text-align: center;
    color: #747474;
}
.dashboard .projectsummary {
    text-align: center;
	padding: 5px;
	cursor: pointer;
}

.dashboard .projectsummary.totalprojectcount {
	color: #7c7c7c;
}

.dashboard .projectsummary.totalprojectcount.active {
	 background-color: #00af9b;
}

.dashboard .projectsummary.backlogcount {
	color: #7c7c7c;
}

.dashboard .projectsummary.backlogcount.active {
	background-color: #00af9b;
}

.dashboard .projectsummary.unassignedcount {
	color: #7c7c7c;
}
.dashboard .projectsummary.unassignedcount.active {
	background-color: #00af9b;
}

.dashboard .projectsummary.inprogress {
	color: #7c7c7c;
}

.dashboard .projectsummary.inprogress.active {
	background-color: #00af9b;
}

.dashboard .projectsummary.completed {
	color: #7c7c7c;
}

.dashboard .projectsummary.completed.active {
	background-color: #00af9b;
}

.dashboard .projectsummary.upcoming {
	color: #7c7c7c;
}

.dashboard .projectsummary.upcoming.active {
	background-color: #00af9b;
}

.dashboard .projectsummary.active{
	 color: white; 
}

.dashboard .projectsummary .hours{
	 height: 12px;
}
.dashboard input.searchbox, select.searchbox, .dateFilterbox {
  border: 0;
  outline: 0;
  background: transparent;
  border-bottom: 1px solid #B5B5B5;
  margin-right: 15px;
  width: 150px;
  font-size: 11px;
  font-weight: 500;
  color: #918989;
}

select.dashboadgroup{
	 width: 175px;
}

.dashboard input.projectSearchInput{
	min-width: 225px;margin-right: 5px;font-size: 11px;font-weight: 600;opacity: 0.7;
}

span.searchboxlabel {
  margin-right: 15px;
  min-width: 100px;
}

.dashboard .projecttitleblock{
	background-color: #434954;
	padding-left:0;
	padding-right:0;
}
.dashboard .projecttitleblock .col-md-2{
	padding: 0;
	}
.dashboard .legendtext{
    font-size: 8px;
    color: darkgray;
    font-weight: 600;

}
.dashboard .resUtilName{
font-size: 10px;
    color: darkgray;
    font-weight: 500;
}
.dashboard .projectsummary .total{
      display: block;
    font-size: 1.1em;
    font-weight: 600;
}

.dashboard .projectsummary .numberofproject{
  	display: block;
    font-size: 2.5em;
    font-weight: 600;
    line-height: 1;
    margin-top: 5px;
}

.dashboard .projectsummary .hours{
    display: block;
}


.dsfilter{
    background-color: white;
    height: 22px;
    margin: 0px 0 5px 0;
    margin-right: 50px;
}
.dashboard{
	padding-left: 0px !important;
}

.dashboard .fixedheadertable {
padding-left: 5px;
    padding-right: 0px
}
.dashboard .fixedheadertable table {
        width: 100%;
        margin-top: 0px;
        margin-bottom: 0px;
    }

.dashboard .fixedheadertable thead, .dashboard .fixedheadertable tbody, .dashboard .fixedheadertable tr, .dashboard .fixedheadertable td, .dashboard .fixedheadertable th { 
	display: block; 
}

.dashboard .fixedheadertable tr:after {
    content: ' ';
    display: block;
    visibility: hidden;
    clear: both;
}

.dashboard .fixedheadertable thead th {
    height: 25px;
 	background: #fff;
    color: #56688A;
    font-size: 10px;   
}

.xdsoft_datetimepicker .xdsoft_datepicker.active{
width: 100%;
margin-left: 0px;
}

.xdsoft_datetimepicker .xdsoft_calendar  td, .xdsoft_datetimepicker .xdsoft_calendar  th {
    background-color: #6e6e6e;
	border: 0px solid #ddd;
	color: #fff;
	text-align: center;
	height: 21px;
}

.xdsoft_datetimepicker .xdsoft_prev {
    float: left;
    background-position: 0;
    margin-left: 15px;
    background-image: url(../../img/angle-left.png);
    background-size: 10px;
    opacity: .9;
    width: 10px;
}

.xdsoft_datetimepicker .xdsoft_next {
    float: left;
    background-position: 0;
    background-image: url(../../img/angle-right.png);
    background-size: 10px;
     opacity: .9;
      width: 10px;
}
.xdsoft_datetimepicker .xdsoft_month {
    width: 80px;
}
.xdsoft_datetimepicker .xdsoft_full_button{
	background-color: transparent;
    background-repeat: no-repeat;
    cursor: pointer;
    display: block;
    opacity: .8;
    white-space: nowrap;
    width: 22px;
    min-width: 0;
    background-image: url(../../img/fullscreenimg.png);
    height: 20px;
    background-size: 16px;
    float: right;
}


.xdsoft_datetimepicker .xdsoft_year {
    width: 50px
}

.xdsoft_datetimepicker .xdsoft_today_button {
    background-position: -70px -7px;
}

.xdsoft_datetimepicker .xdsoft_label {
    padding: 2px;
}
.xdsoft_datetimepicker .xdsoft_date.xdsoft_weekend {
	color: #b1b1b1 !important;	
}
.xdsoft_datetimepicker .xdsoft_calendar td.xdsoft_other_month{
	color: #848484 !important;	
	opacity:1;
}

.xdsoft_datetimepicker .xdsoft_next, .xdsoft_datetimepicker .xdsoft_prev, .xdsoft_datetimepicker .xdsoft_today_button {
    height: 20px;
}
.xdsoft_datetimepicker.xdsoft_inline{
	width: 100%;
	background-color: #545454;
}
.xdsoft_datetimepicker {
	border: 0;
	padding: 0;
}

.xdsoft_datetimepicker .xdsoft_calendar th {
    font-weight: 500;
}

.xdsoft_datetimepicker .xdsoft_calendar td.xdsoft_current{
	background: #6e6e6e;
	box-shadow:none;
	font-weight: 500;
}
.xdsoft_datetimepicker .xdsoft_calendar td>div {
    padding-right: 0px;
}
.xdsoft_datetimepicker .xdsoft_calendar td.xdsoft_today div{
	border-radius: 20px;
    background-color: #000;
    height: 100%;
    padding-top: 3px;
}
/*
.dashboard div.xdsoft_calendar,.dashboard .xdsoft_datetimepicker .xdsoft_monthpicker{
	width: 100%;
	z-index: 100;
}
.dashboard .xdsoft_datetimepicker .xdsoft_month
{
	width: 38%;
}

.dashboard .xdsoft_datetimepicker .xdsoft_year {
    width: 40px;
    margin-left: 3px;
}

.dashboard .xdsoft_datetimepicker .xdsoft_next, .dashboard .xdsoft_datetimepicker .xdsoft_prev, .dashboard .xdsoft_datetimepicker .xdsoft_today_button
{
	width: 16px;
}*/
.xdsoft_datetimepicker .xdsoft_label{
	font-size: 12px;
	line-height: 15px;
	background-color: #545454;
	color:#fff;
}
.dashboard .fixedheadertable tbody {
    height: 185px;
    overflow-y: auto;
}

.dashboard .fixedheadertable thead {
}


.dashboard .fixedheadertable tbody td, .dashboard .fixedheadertable thead th {
    width: 14%;
    float: left;
    word-wrap: break-word;
    padding: 5px;
}

.dashboard .panel-fullscreened .fixedheadertable tbody td, .dashboard .panel-fullscreened .fixedheadertable thead th {
    width: 8%;
    float: left;
}


.dashboard .rtborder {
	border-right: 1px #E5E5E5 solid;
}

 
 ::-webkit-scrollbar {
    width: 7px;
    height: 7px;
}
::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3); 
    -webkit-border-radius: 10px;
    border-radius: 10px;
}
::-webkit-scrollbar-thumb {
    -webkit-border-radius: 10px;
    border-radius: 10px;
    background: rgba(0, 0, 0, 0.02); 
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5); 
}
::-webkit-scrollbar-thumb:window-inactive {
    background: rgba(0, 0, 0, 0.02); 
}

.dashboard .fixedheadertable td.emputilization{
	width: 20%; 
	height:41px;
	text-align:center;
	vertical-align:middle;
	padding: 0px;
	border-top:none;
	border: 1px solid #E5E5E5;
}

.dashboard .userdetails{
	padding-top: 5px;
	display: inline-block;
	padding-right: 5px;
}

.dashboard b.wraptext, p.wraptext{
	float: right;
	width: 80px;
	margin-top: 5px;
	font-size:10px;	
}
.dashboard .bwwraptext{
    float: right;
    width: 80px;
    margin-top: 5px;
    font-size: 12px;
    color: #fff;
    font-weight: 400;
 }
.dashboard .percentage{
	margin-top: 7px;
    font-size: 10px;
    color: #fff;
    font-weight: bold;
}

.dashboard .percentagetxt{
	margin-top: 7px;
    display: block;
    font-size: 13px;
    color: #fff;
    font-weight: bold;
}


.dashboard .projectdetails{
	height: 295px;
}

.dashboard input.bandwidthsearch{
	width: 97%;
    border-radius: 20px;
    padding-left: 5px;
    font-size: 8pt;
    margin-left: 3px;
    border: 0;
    height: 15px;
    opacity:.9;
}

.dashboard .panel-fullscreened .projectdetails{
	height: 621px;
}

.dashboard .panel-fullscreened .fixedheadertable tbody {
    height: 505px;
    overflow-y: auto;
}

.dashboard .projectdetails .projectfilter{
	height: 20px;
	font-size: 11px;
	font-weight: 600;
	padding-top: 2px;
	display: inline-block;
    padding: 2px 15px;
    background-color: #e3e3e3;
    color: darkgray
}

.dashboard .projectdetails .projectfilter.active{
	background-color: #747678;
	color: white;
	text-decoration: none;
}


.viewprjsummary{
    float: right;
    background-color: #B5B5B5;
    border-radius: 20px;
    padding: 1px 10px 1px 10px;
    margin-bottom: 4px;
    font-size: 8px;
    color: white;
}

.dashboard #fullcaledar {
	margin:0px 10px 0px 10px;
}

.dashboard .fc th.fc-widget-header {
    font-size: 8px;
    line-height: 17px;
    border: none;
    background-color: white;
    text-transform: none;
}

.dashboard .fc-day-number{
	font-weight: bold;
}

.dashboard td.fc-widget-header {
	border: none;
}

.dashboard .fc-toolbar{
	margin-bottom: 0;
	line-height:0;
}

.dashboard .fc-toolbar h2{
	font-size: 9px;
	text-transform: none;
	display: inline-block; 
}

.dashboard .fc-toolbar button {
    border: none;
    box-shadow: none;
}
.dashboard .fc-toolbar button.fc-state-active
{
	border-bottom: 2px solid darkgray;
}

.dashboard .legenddateview{
	padding-right: 5px;
    font-size: 8px;
}

.accountsdiv .progress-bar{
	background-color: #0BB4C1;
}
.accountsdiv .progress{
	background-color: #E3E3E3;
	border-radius:0;
}
.accountsdiv .progress-bar-vertical {
	width: 20px;
    min-height: 100px;
    display: flex;
    align-items: flex-end;
    float: left;
    margin-left: 25px;
    margin-bottom: 2px;
    margin-right: 25px;
}

.accountsdiv .progress-bar-vertical .progress-bar {
  width: 100%;
  height: 0;
  -webkit-transition: height 0.6s ease;
  -o-transition: height 0.6s ease;
  transition: height 0.6s ease;
}
 
 .accountsdiv .myprogress{
 	float: left;
 	margin-top: 10px;
 }
 
.accountsdiv p.vprogresslabel{
 	margin-left: 10px;
    margin-bottom: 2px;
    text-align: center;
    width: 50px;
 }

.tatalutilizationChart .progress-bar{
	background-color: #0BB4C1;
}
.tatalutilizationChart .progress{
	background-color: #E3E3E3;
	border-radius:0;
}
 
.tatalutilizationChart .progress-bar-vertical {
  width: 25px;
  min-height: 130px;
  display: flex;
  align-items: flex-end;
  float: left;
  margin-left:25px;
  margin-bottom: 2px;
}

.tatalutilizationChart .progress-bar-vertical .progress-bar {
  width: 100%;
  height: 0;
  -webkit-transition: height 0.6s ease;
  -o-transition: height 0.6s ease;
  transition: height 0.6s ease;
}
 
 .tatalutilizationChart .myprogress{
 	float: left;
 	margin-top: 10px;
 }
 
.tatalutilizationChart p.vprogresslabel{
 	margin-left: 20px;
 	margin-bottom: 2px;
 	text-align: center;
 }
 

.totalUtilizationComparediv .progress-bar{
	background-color: #0BB4C1;
}
.totalUtilizationComparediv .progress{
	background-color: #E3E3E3;
	border-radius:0;
}
.totalUtilizationComparediv .progress-bar-vertical {
	width: 20px;
    min-height: 330px;
    display: flex;
    align-items: flex-end;
    float: left;
    margin-left: 25px;
    margin-bottom: 2px;
    margin-right: 25px;
}

.totalUtilizationComparediv .progress-bar-vertical .progress-bar {
  width: 100%;
  height: 0;
  -webkit-transition: height 0.6s ease;
  -o-transition: height 0.6s ease;
  transition: height 0.6s ease;
}
 
 .totalUtilizationComparediv .myprogress{
 	float: left;
 	margin-top: 10px;
 }
 
.totalUtilizationComparediv p.vprogresslabel{
 	margin-left: 10px;
    margin-bottom: 2px;
    text-align: center;
    width: 50px;
 }

.resutildiv .progress{
	width: 100%;
    height: 5px;
    border-radius: 0;
    margin-bottom: 0px;
    margin-left: 5px;
    margin-top: 4px;
}

.resutildiv .progress-bar.billable{
background-color: #0BB4C1;
}
.resutildiv .progress-bar.nonbillable{
background-color: #fbb03b;
}

.resutildiv .progress-bar.freehours{
background-color: #f5f5f5;
box-shadow: inset 0 1px 2px rgba(0,0,0,.1);
overflow: hidden;
}

.theme-settings {
 top: 340px;
}
.dashboard .fixedheadertable tr.projectDetailsRow{
	display: none;
}
.dashboard .fixedheadertable tr.projectDetailsRow.activeRow{
	display: block;
}

.dashboard .autiloutercontent { 
		overflow: auto;
		overflow-y:hidden 
}
.dashboard .autilinnercontent {
	padding-left: 0px;
}


.img-header {
    position: relative;
    margin-top: 5px;
    margin-right: 5px;
    float: left;
}
.img {
    width: 30px;
    height: 30px;
    border-radius: 20px
    object-fit: cover;
    vertical-align: super;
}
.onlinestatus {
    width: 12px;
    position: absolute;
    right: -2px;
    top: 20px;
    height: 12px;
    border-radius: 20px;
    border: 1px solid #fff;
}

.availabilityStatus {
    width: 5px;
    position: absolute;
    right: 3px;
    top: 2px;
    height: 5px;
    border-radius: 20px;
}

.onlinestatus.green, .availabilityStatus.green {
    background-color: #39b54a;
}

.availabilityStatus.gray {
    background-color: lightgray;
}

.availabilityStatus.yellow {
    background-color: yellow;
}

.onlinestatus.red,.availabilityStatus.red {
    background-color: red;
}

.dashboard span.tucompareheading{
	 font-size: 1.3em !important;
    font-weight: 700;
    line-height: 10px;
    color: #686868;
    padding: 0px;
    margin: 0px;
}

.checkbox {
	padding-left: 20px;
	margin-top: 0px;
    margin-bottom: 0px;
}

.checkbox label {
	display: inline-block;
	position: relative;
	padding-left: 0px;
}

.checkbox label::before {
	content: "";
	display: inline-block;
	position: absolute;
	width: 13px;
	height: 13px;
	left: 0;
	margin-left: -20px;
	border: 2px solid #fff;
	border-radius: 3px;
	background-color: #fff;
	-webkit-transition: border 0.15s ease-in-out, color 0.15s ease-in-out;
	-o-transition: border 0.15s ease-in-out, color 0.15s ease-in-out;
	transition: border 0.15s ease-in-out, color 0.15s ease-in-out;
}

.checkbox label::after {
	display: inline-block;
	position: absolute;
	width: 12px;
	height: 12px;
	left: 0;
	top: 0;
	margin-left: -20px;
	padding-left: 3px;
	padding-top: 1px;
	font-size: 11px;
	color: #555555;
}

.checkbox input[type="checkbox"] {
	z-index: 1;
	opacity: 0;
}

.checkbox input[type="checkbox"]:focus+label::before {
	outline: thin dotted;
	outline: 5px auto -webkit-focus-ring-color;
	outline-offset: -2px;
}

.checkbox input[type="checkbox"]:checked+label::after {
	font-family: 'FontAwesome';
	content: "";
}

.checkbox input[type="checkbox"]:disabled+label {
	opacity: 0.65;
}

.checkbox input[type="checkbox"]:disabled+label::before {
	background-color: #eeeeee;
	cursor: not-allowed;
}

.checkbox.checkbox-circle label::before {
	border-radius: 50%;
}

.checkbox.checkbox-inline {
	margin-top: 0;
}

.checkbox-primary input[type="checkbox"]:checked+label::before {
	background-color: #428bca;
	border-color: #428bca;
}

.checkbox-primary input[type="checkbox"]:checked+label::after {
	color: #fff;
}

.checkbox-danger input[type="checkbox"]:checked+label::before {
	background-color: #d9534f;
	border-color: #d9534f;
}

.checkbox-danger input[type="checkbox"]:checked+label::after {
	color: #fff;
}

.checkbox-info input[type="checkbox"]:checked+label::before {
	background-color: #000;
	border-color: #fff;
}

.checkbox-info input[type="checkbox"]:checked+label::after {
	color: #fff;
}

.checkbox-warning input[type="checkbox"]:checked+label::before {
	background-color: #f0ad4e;
	border-color: #f0ad4e;
}

.checkbox-warning input[type="checkbox"]:checked+label::after {
	color: #fff;
}

.checkbox-success input[type="checkbox"]:checked+label::before {
	background-color: #5cb85c;
	border-color: #5cb85c;
}

.checkbox-success input[type="checkbox"]:checked+label::after {
	color: #fff;
}