input.error{
     border-color: #E04B4A
 }
.markable{
	height: 100%;
	padding:0 0 0 0 !important;
}
#employeeListForTaskTable{
height: 100%;
}
.durationRangeSelector{
	width: 35px; 
	margin: 0 0; 
	font-weight: bold; 
	text-align: center; 
	padding: 0 0; 
	padding-left: 7px;
}

table tr td.markable span {
  	float: left;
    height: 100%;
    display: table-cell;
    z-index: 1000;
    text-align: center;
    vertical-align: middle;
    font-size: 15px;
    font-weight: bold;
    color: wheat;
    vertical-align: middle;
 }

#createtaskmodal .modal-dialog {
	width: 70%;
}

#taskAddExtraTimeModal  .modal-dialog {
		width: 30%;
}

#employeeListForTaskTable th{
font-weight: normal;
font-size: 8pt;
}

div#task-pop-up {
  display: none;
  position: absolute;
  width: 280px;
  padding: 10px;
  background: #eeeeee;
  color: #000000;
  border: 1px solid #1a1a1a;
  font-size: 90%;
}

.dataTables_length {
width: 40%;
}

.dataTables_filter{
width: 60%;
}
.task_progress .progress {
		height: 10px;
}

.panel {
    border: 1px solid #e1e3e4;
    position: relative;
    border-radius: 4px;
    box-shadow: 0 0 0 transparent !important;
}

.no-padding {
    padding: 0 !important;
}

.panel-stats .panel-data.panel-progress, .panel-stats-icon .panel-data.panel-progress {
    padding: 20px 30px;
}

.panel-stats .panel-data, .panel-stats-icon .panel-data {
    text-align: center;
    border-left: 1px solid #dfe7ea;
    border-top: 1px solid #dfe7ea;
    margin-left: -1px;
    margin-top: -1px;
    padding: 0px;
    font-size: 20px;
    color: #444c52;
}

.panel-stats .panel-data.panel-progress .progress, .panel-stats-icon .panel-data.panel-progress .progress {
    margin-bottom: 10px;
}

.progress {
    box-shadow: 0 0 0 transparent !important;
    background: #f6f7f7;
}

.panel-stats .panel-data span, .panel-stats-icon .panel-data span {
    display: block;
    font-size: 14px;
    font-family: 'Karla', sans-serif;
    color: #7f8c8d;
}

.panel-stats [class*="col-"], .panel-stats-icon [class*="col-"] {
    padding: 0 !important;
}

.panel .panel-footer {
    background: #fcfcfc;
    font-size: 13px;
    color: #3e5465;
    padding: 11px 15px 12px;
    border-top: 1px solid #e1e3e4;
}

.durationTxt, .dateTimeTaskEditPicker{
	font-weight: bold;
	width:30px;
	margin-right: 5px;
	height: 30px;
    line-height: 18px;
    box-shadow: none;
    -webkit-appearance: none;
    border: 1px solid #D5D5D5;
    background: #F9F9F9;
    transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
	border-radius: 4px;
	color: #555;
	font-size: 10px;
	padding: 0px 2px 2px 5px;
}
.dateTimeTaskEditPicker {
	width: 100px;
	margin-bottom: 5px;
}

.taskDetailsTable.table tbody tr td {
	padding:5px 5px 5px 0px;
}

.gentleinputstyle {
    padding: 1px 5px 1px;
    background-color: #eee;
    border: 2px solid #ddd;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    background-repeat: no-repeat;
    background-position: center right;
    cursor: pointer;
    color: #555;
    white-space: nowrap;
}