.weekSelector,.monthSelector,.dailySelector, .monthDateRangeSelector{
    border: none;
    font-size: 13px;
    font-weight: bold;
    color: #2ab9ad;
    padding-left: 5px;
    cursor: pointer;
    padding-top: 5px;
	width:100px;
}
.reportDataTable .xlsx {
	display:none;
}

.dataTables_filter,.dataTables_length, #DataTables_Table_0_paginate{
	display: none;
}
caption {
    padding-top: 0 !important;
    padding-bottom: 0 !important;
}

.chartHeader{
	border: 1px solid #ccc;background-color: #eee;box-shadow: 5px 5px 23px grey;padding-top: 5px;padding-bottom: 5px;margin-bottom: 20px;
}