#set( $subject = "${subject}")
<p><strong>Hi ${teamName},</strong></p>
<p><strong>&nbsp; &nbsp; &nbsp; </strong>Please find below the task utilization for last month. Outliers are marked in red.</p>
<table style="text-align: center;border: 2px solid lightgrey;">
<tbody>
<tr>
<td colspan="3">&nbsp;</td>
#foreach ($weekNumber in $weekNumberList)
#set($weekRange =  ${dateList.get($weekNumber)})
<td colspan="4" style="text-align: center;border: 1px solid lightgrey;">$weekRange</td>
#end
</tr>
<tr style="background-color: #69d5ed;">
<td><strong>Sl No</strong></td>
<td><strong>Employee Name</strong></td>
<td><strong>Reporting Manager</strong></td>
#foreach ($weekNumber in $weekNumberList)
#set($weekRange =  ${dateList.get($weekNumber)})
<td><strong>B</strong></td>
<td><strong>NB</strong></td>
<td><strong>L/H</strong></td>
<td style="background-color: lightgray;"><strong>Total Hours</strong></td>
#end
</tr>
#set($index = 0)
 #foreach ($utilization in $utilizationData)
  #set($index = $index+1)
    <tr>
		<td style="text-align: center;border: 1px solid lightgrey;">$index</td>
		<td style="text-align: center;border: 1px solid lightgrey;">$utilization.employeeName</td>
		<td style="text-align: center;border: 1px solid lightgrey;">$!utilization.reportingManager</td>
		
		#foreach ($weekNumber in $weekNumberList)
			 #set($weekUtilizationData =  ${utilization.userUtilizationMap.get($weekNumber)})
			
			<td style="text-align: center;border: 1px solid lightgrey;">
			#if($weekUtilizationData.billableMins > 0)
				<b>$weekUtilizationData.billableHours</b>
			#end
			</td>
			<td style="text-align: center;border: 1px solid lightgrey;">
			#if($weekUtilizationData.nonBillableMins > 0)
				<b>$weekUtilizationData.nonBillableHours</b>
			#end
			</td>
			#if($weekUtilizationData.leaveOrHolidayMins > 0)
				<td style="background-color: #ff0;text-align: center;border: 1px solid lightgrey;"><b>$weekUtilizationData.leaveOrHolidayHours</b></td>
			#else
				<td style="text-align: center;border: 1px solid lightgrey;"></td>
			#end
			#if($weekUtilizationData.notifyUsers && $weekUtilizationData.futureDateTask == false)
				<td style="text-align: center;border: 1px solid lightgrey;background-color: #f00;">
				#if($weekUtilizationData.totalWithLeave > 0)
					<b>$weekUtilizationData.totalWithLeaveHrs</b>
				#else
					0.00
				#end
				</td>
			#else
				<td style="text-align: center;border: 1px solid lightgrey;background-color: lightgray;">
				#if($weekUtilizationData.totalWithLeave > 0)
					<b>$weekUtilizationData.totalWithLeaveHrs</b>
				#else
					0.00
				#end
				</td>
			#end
		#end		
	</tr>
  #end

</tbody>
</table>